.root {
-fx-focus-color: transparent;
-fx-faint-focus-color: transparent;}


/* CHECK-BOX */
.check-box {
-fx-opacity: 1;
}

.check-box .box {
-fx-background-color: white;
-fx-border-color:grey;
}

.check-box:selected .mark {
-fx-background-color: white;
}

.check-box:selected .box {
-fx-background-color: #00FF00;
}

/* RADIO BUTTON */
.radio-button {
-fx-opacity: 1;
}

.radio-button .radio {
-fx-background-color: white;
-fx-border-radius: 10px;
-fx-border-color: black;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #00FF00;
    -fx-background-insets: 0;
}

.button {
-fx-background-radius: 10px;
-fx-border-radius: 10px;
}


#carbonCircle:hover {
-fx-fill: #8fc8fe;
}

#hydrogenCircle:hover {
-fx-fill: #fdaaaa;}

#nitrogenCircle:hover {
-fx-fill: #ceaafc;}

#oxygenCircle:hover {
-fx-fill:#fcf8aa;
}